
//calculate rem from px value
@mixin toRem($property, $value) {
    #{$property}: ($value / 14) + rem;
}

//proper href behavior
@mixin hrefHover(){
    transition: .25s all;
    &:hover{
        color: map-get($colors, "pink");
    }
}

@mixin button(){
    padding: 12px 24px !important;
    border-radius: 10px !important;
    text-decoration: none !important;
    border: 3px solid map-get($colors, "pink") !important;
    @extend .font__size__18;
    @include hrefHover();
}